# Dependencies
node_modules/

# Misc
.DS_Store
*.pem

# Local env files
.env*.local
.env

# Vercel
.vercel

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# Build outputs
.next/
out/
build/
dist/
.eslint-config-inspector/

# MDX
data/drafts/

# Content Collections
.content-collections

# Testing
data/posts/_test/
playwright-report/
test-results/
coverage/
**/src/e2e/.auth/

# TypeScript
*.tsbuildinfo
next-env.d.ts
