# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
.pnp/
.pnp.*

# testing
playwright-report/
test-results/
/coverage

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#ide
.vscode/*
!.vscode/setting.json

# Build outputs
.next/
out/
build/
dist/
.eslint-config-inspector/

# MDX
.content-collections/

