registry=https://registry.npmmirror.com/
strict-peer-dependencies=false
ignore-workspace-root-check=true
package-manager-strict=true
commit-hooks=true
shamefully-hoist = true
tag-version-prefix=v
message="🔖 bump version to %s"
