@import 'tailwindcss';
@import 'tw-animate-css';
@import './preset.css';
@import './shiki.css';
@import './typography.css';
@import './layer.css';

@theme {
  --color-anchor: var(--anchor);

  --background-image-nav-link-indicator: var(--nav-link-indicator);
  --background-image-email-button: var(--email-button);

  --shadow-feature-card: var(--feature-card);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-world: 'DingTalk JinBuTi';
}

:root {
  --anchor: rgb(255, 34, 14);

  --nav-link-indicator: radial-gradient(44.6% 825% at 50% 50%, rgb(255 133 133) 0%, rgb(255 72 109 / 0) 100%);
  --email-button: linear-gradient(180deg, rgb(210 10 30) 5%, rgb(239 90 90) 100%);

  --feature-card: 0 -1px 3px 0 rgb(0 0 0 / 0.05);
}

.dark {
  --anchor: rgb(255, 69, 51);

  --nav-link-indicator: radial-gradient(44.6% 825% at 50% 50%, rgb(255 28 28) 0%, rgb(255 72 109 / 0) 100%);

  --feature-card: 0 0 0 1px rgb(255 255 255 / 0.06), 0 -1px rgb(255 255 255 / 0.1);
}

/* 全局隐藏滚动条（综合方案） */
/* WebKit浏览器 */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Firefox浏览器 */
* {
  scrollbar-width: none;
}

/* IE和旧版Edge浏览器 */
* {
  -ms-overflow-style: none;
}
