#bot-container {
  position: fixed;
  left: 25px;
  bottom: 0;
  z-index: 1000;
  width: 70px;
  height: 60px;
}

#Aurora-Dia--body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  --aurora-dia--width: 65px;
  --aurora-dia--height: 50px;
  --aurora-dia--hover-height: 60px;
  --aurora-dia--jump-1: 55px;
  --aurora-dia--jump-2: 60px;
  --aurora-dia--jump-3: 45px;
  --aurora-dia--eye-top: 10px;
  --aurora-dia--eye-height: 15px;
  --aurora-dia--eye-width: 8px;
  --aurora-dia--platform-size: var(--aurora-dia--jump-2);
  --aurora-dia--platform-size-shake-1: 75px; /* 115px */
  --aurora-dia--platform-size-shake-2: 45px; /* 115px */
  --aurora-dia--platform-top: -15px;
  --aurora-dia--linear-gradient: var(--main-gradient);
  --aurora-dia--linear-gradient-hover: linear-gradient(to bottom, #5433ff, #ff0099);
  --aurora-dia--platform-light: #ff0099;
}

.Aurora-Dia {
  position: absolute;
  bottom: 30px;
  width: var(--aurora-dia--width);
  height: var(--aurora-dia--height);
  border-radius: 45%;
  border: 4px solid hsl(var(--secondary));
  animation: breathe-and-jump 3s linear infinite;
  cursor: pointer;
  z-index: 1;
}

.Aurora-Dia::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 3px);
  height: calc(100% + 2px);
  background-color: #2cdcff;
  background: var(--aurora-dia--linear-gradient);
  border-radius: 45%;
  opacity: 1;
  transition: 0.3s linear all;
}

.Aurora-Dia--eyes {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.Aurora-Dia--eyes > .Aurora-Dia--eye {
  position: absolute;
  top: var(--aurora-dia--eye-top);
  width: var(--aurora-dia--eye-width);
  height: var(--aurora-dia--eye-height);
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
  animation: blink 5s linear infinite;
  z-index: 3;
}

.Aurora-Dia--eyes > .Aurora-Dia--eye.left {
  left: 25%;
}

.Aurora-Dia--eyes > .Aurora-Dia--eye.right {
  right: 25%;
}

.Aurora-Dia--eyes.moving > .Aurora-Dia--eye {
  animation: none;
}

.Aurora-Dia--platform {
  position: relative;
  top: 0;
  transform: rotateX(70deg);
  width: var(--aurora-dia--platform-size);
  height: var(--aurora-dia--platform-size);
  border-radius: 50%;
  box-shadow: 0 0 var(--aurora-dia--platform-size) var(--aurora-dia--platform-light),
    0 0 30px var(--aurora-dia--platform-light) inset!important;
  animation: jump-pulse 3s linear infinite;
  opacity: 60%;
}

#Aurora-Dia--tips-wrapper {
  position: absolute;
  bottom: 80px;
  right: -120px;
  width: 200px;
  min-height: 60px;
  background: var(--aurora-dia--linear-gradient);
  color: hsl(var(--foreground));
  padding: 0.2rem;
  border-radius: 8px;
  opacity: 0;
  animation: tips-breathe 3s linear infinite;
  transition: 0.3s linear opacity;
}

#Aurora-Dia--tips-wrapper.active {
  opacity: 0.86;
}

.Aurora-Dia--tips {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 60px;
  border-radius: 6px;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 800;
  background: hsl(var(--secondary));
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes breathe-and-jump {
  0%, 40%, 80%, 100% {
    height: var(--aurora-dia--jump-1);
    transform: translateY(0);
  }
  20%, 60%, 70%, 90% {
    height: var(--aurora-dia--jump-2);
    transform: translateY(-5px);
  }
  85% {
    height: var(--aurora-dia--jump-3);
    transform: translateY(-20px);
  }
}

@keyframes blink {
  0%, 100% {
    transform: scale(1, 0.05);
  }
  5%, 95% {
    transform: scale(1, 1);
  }
}

@keyframes jump-pulse {
  0%, 40%, 80%, 100% {
    box-shadow: 0 0 30px var(--aurora-dia--platform-light), 0 0 45px var(--aurora-dia--platform-light) inset;
  }
  20%, 60%, 70%, 90% {
    box-shadow: 0 0 70px var(--aurora-dia--platform-light), 0 0 25px var(--aurora-dia--platform-light) inset;
  }
  85% {
    box-shadow: 0 0 100px var(--aurora-dia--platform-light), 0 0 15px var(--aurora-dia--platform-light) inset;
  }
}

@keyframes tips-breathe {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.Aurora-Dia--tips > span {
  -webkit-text-fill-color: transparent;
  padding: 0 0.05rem;
  color: #7aa2f7;
  background-color: #7aa2f7;
  background-image: var(--strong-gradient);
}
