:root {
  --dash-array-1: 486px;
  --dash-array-2: 362px;
  --dash-array-3: 468px;
  --dash-array-4: 104px;
  --dash-array-5: 294px;
  --dash-array-6: 314px;
}
@media (prefers-reduced-motion) {
  path {
    animation: none !important;
    stroke-dasharray: unset !important;
  }
}

@keyframes draw {
  0% {
    stroke-dashoffset: var(--dash-array);
    opacity: 0;
  }

  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

#eGgXFSmcNq71 {
  width: 105px;
  display: inline-block;
  fill: none;
  stroke: black;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.dark #eGgXFSmcNq71 {
  stroke: white;
}

@media screen and (max-width: 640px) {
  #eGgXFSmcNq71 {
    width: 80px;
  }
}

@media screen and (max-width: 480px) {
  #eGgXFSmcNq71 {
    width: 77px;
  }
}

#eGgXFSmcNq71 path:nth-child(1) {
  --dash-array: var(--dash-array-1);
  animation: draw 1s ease forwards 1s;
}

#eGgXFSmcNq71 path:nth-child(2) {
  --dash-array: var(--dash-array-2);
  animation: draw 1.5s ease forwards 1.6s;
}

#eGgXFSmcNq71 path:nth-child(3) {
  --dash-array: var(--dash-array-3);
  animation: draw 0.5s ease forwards 3.1s;
}
#eGgXFSmcNq71 path:nth-child(4) {
  --dash-array: var(--dash-array-3);
  animation: draw 0.5s ease forwards 3.6s;
}

#eGgXFSmcNq71 path {
  stroke-dashoffset: 10px;
  stroke-dasharray: var(--dash-array);
  transform-origin: center;
  opacity: 0;
}
